<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="about.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <img src="cleveland-bg.png" alt="basketball-logo" class="nav-img" />
      </div>
      <nav>
        <ul class="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/works">Professional Career</a></li>
          <li><a href="/photogallery">PhotoGallery</a></li>
        </ul>
      </nav>
    </header>
    <hr />
    <!-- <img src="cleveland-bg.png" alt="arrow-left" class="arrow-right" onclick="rbuttonOnclick()"/>
    <img src="cleveland-bg.png" alt="arrow-right" class="arrow-left" hidden onclick="lbuttonClick()"/> -->
    <section class="section1">
      
      <div class="childhood">
        <h1>Childhood</h1>
        <p>James was born on December 30, 1984, in Akron, Ohio, to Gloria Marie
        James, who was 16 at the time of his birth. James began playing
        organized basketball in the fifth grade. Every team where he played
        enjoyed success on a local and national level.</p>
      </div>
      <div class="div-city">
        <img src="cleveland.jpg" alt="cleveland" class="city" />
      </div>
      
    </section>
    <script src="script.js"></script>
  </body>
</html>
