<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="works.css">
  </head>
  <body>
    <header>
      <div>
        <img src="cleveland-bg.png" alt="basketball-logo" class="nav-img" />
      </div>
      <nav>
        <ul class="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About Lebron</a></li>
          <li><a href="/photogallery">PhotoGallery</a></li>
        </ul>
      </nav>
    </header>
    <!-- <hr /> -->
    <main id="main">
    <section class="section1">
      
      <div class="childhood">
        <h1>High School</h1>
        <p>James was 6-foot-2-inch, went 27-0 playing for St. Vincent–St. Mary. James averaged 25.2 points and 7.2 rebounds, along with 5.8 assists and 3.8 steals per game. By that time was considered the best high school basketball player in America</p>
      </div>
      <div class="div-city">
        <img src="highschool.gif" alt="cleveland" class="city" />
      </div>
    </section>
    <section class="section2">
      
      <div class="div-city2">
        <img src="professional-career.gif" alt="cleveland" class="gif2" />
      </div>
      <div class="childhood2">
        <h1>Professional Career</h1>
        <p>After being the first overall pick of 2003 NBA Draft, James became the third player in league history to average at least 20 points, 5 rebounds, and 5 assists per game as a rookie. In the first two seasons Lebron and his team failed to make playoffs but after that Lebron was in every playoff for the next 12 years.</p>
      </div>
    </section>
      <section class="section3">
      
        <div class="childhood3">
          <h1>Season 2015-2016</h1>
          <p>Coming into this season Lebron was crowned several times as MVP, and won 2 NBA championships. This was most likely the best season of all time. Warriors went 73-9 in the regular season setting that as a record for most wins, ever! The best team to ever be assembled, both Warriors and Cleveland reached the finals confortably, Warriors gave 0 chances in the first 2 games. Warriors were winning by 3-1. Cleveland fans were in desbelief but then the most heroic ressurgence happened. Lebron did triple double in the 3 games after, and Cleveland was able to recover from a 3-1 deficit, first team ever to do such thing.</p>
        </div>
        <div class="div-city3">
          <img src="background-lebron.gif" alt="cleveland" class="gif" />
        </div>
    </section>
  </main>
  </body>
</html>
